

<div class="columns mt-5 is-8 is-multiline is-mobile">
              {{#each movies as |movie|}}
          <div class="column is-4-tablet is-3-desktop">
            <div class="card">
                <div class="card-image has-text-centered px-6">
                    <img src="./images/{{filename}}" alt="">
                </div>
                <div class="card-content">
                    <p>{{bark_score}}</p>
                    <p class="title is-size-5">{{title}}</p>
                    </div>
                <footer class="card-footer">
                    <p class="card-footer-item">
                        <a href="" class="has-text-grey">View</a>
                    </p>
                </footer>
            </div>
        </div>
         {{/each}}
      </div>

