<section class="session">
          <div class="container">
              <h3 class="title has-text-centered is-size-4">Popular Movies </h3>
                <div class="columns mt-5 is-8 is-multiline is-mobile">
                <div class="column is-4-tablet is-3-desktop">
                  <div class="card">
                      <div class="card-image has-text-centered px-6">
                          <img src="https://resizing.flixster.com/j4yykgWR3yX7yCZ1QuFsOk37OW4=/180x257/v2/https://flxt.tmsimg.com/assets/p20492187_b_v8_ah.jpg" alt="">
                      </div>
                      <div class="card-content">
                          <p>Rating</p>
                          <p class="title is-size-5">Title of the movie</p>
                      </div>
                      <footer class="card-footer">
                          <p class="card-footer-item">
                              <a href="" class="has-text-grey">View</a>
                          </p>
                      </footer>
                  </div>
              </div>

              <div class="column is-4-tablet is-3-desktop">
                <div class="card">
                    <div class="card-image has-text-centered px-6">
                        <img src="https://resizing.flixster.com/j4yykgWR3yX7yCZ1QuFsOk37OW4=/180x257/v2/https://flxt.tmsimg.com/assets/p20492187_b_v8_ah.jpg" alt="">
                    </div>
                    <div class="card-content">
                        <p>Rating</p>
                        <p class="title is-size-5">Title of the movie</p>
                    </div>
                    <footer class="card-footer">
                        <p class="card-footer-item">
                            <a href="" class="has-text-grey">View</a>
                        </p>
                    </footer>
                </div>
                </div>

                <div class="column is-4-tablet is-3-desktop">
                    <div class="card">
                        <div class="card-image has-text-centered px-6">
                            <img src="https://resizing.flixster.com/j4yykgWR3yX7yCZ1QuFsOk37OW4=/180x257/v2/https://flxt.tmsimg.com/assets/p20492187_b_v8_ah.jpg" alt="">
                        </div>
                        <div class="card-content">
                            <p>Rating</p>
                            <p class="title is-size-5">Title of the movie</p>
                        </div>
                        <footer class="card-footer">
                            <p class="card-footer-item">
                                <a href="" class="has-text-grey">View</a>
                            </p>
                        </footer>
                    </div>
                    </div>

                    <div class="column is-4-tablet is-3-desktop">
                        <div class="card">
                            <div class="card-image has-text-centered px-6">
                                <img src="https://resizing.flixster.com/j4yykgWR3yX7yCZ1QuFsOk37OW4=/180x257/v2/https://flxt.tmsimg.com/assets/p20492187_b_v8_ah.jpg" alt="">
                            </div>
                            <div class="card-content">
                                <p>Rating</p>
                                <p class="title is-size-5">Title of the movie</p>
                            </div>
                            <footer class="card-footer">
                                <p class="card-footer-item">
                                    <a href="" class="has-text-grey">View</a>
                                </p>
                            </footer>
                        </div>
                        </div>
            </div>
          </div>
      </section>

      <aside class="menu">
        <p class="menu-label">
          BEST SERIES ON NETFLIX
        </p>
        <ul class="menu-list">
          <li>
            <a class="is-inline">movie's name</a>
            <p class="is-inline is-right-list">ranking</p>
        </li>
        <li>
            <a class="is-inline">movie's name</a>
            <p class="is-inline is-right-list">ranking</p>
        </li>
        <li>
            <a class="is-inline">movie's name</a>
            <p class="is-inline is-right-list">ranking</p>
        </li>
        <li>
            <a class="is-inline">movie's name</a>
            <p class="is-inline is-right-list">ranking</p>
        </li>
        <li>
            <a class="is-inline">movie's name</a>
            <p class="is-inline is-right-list">ranking</p>
        </li>
        <li>
            <a class="is-inline">movie's name</a>
            <p class="is-inline is-right-list">ranking</p>
        </li>
        <li>
            <a class="is-inline">movie's name</a>
            <p class="is-inline is-right-list">ranking</p>
        </li>
        <li>
            <a class="is-inline">movie's name</a>
            <p class="is-inline is-right-list">ranking</p>
        </li>
        <li>
            <a class="is-inline">movie's name</a>
            <p class="is-inline is-right-list">ranking</p>
        </li>
        <li>
            <a class="is-inline">movie's name</a>
            <p class="is-inline is-right-list">ranking</p>
        </li>
          
        </ul>
        <p class="menu-label">
            POPULAR IN THEATERS
          </p>
          <ul class="menu-list">
            <li>
              <a class="is-inline">movie's name</a>
              <p class="is-inline is-right-list">ranking</p>
          </li>
          <li>
              <a class="is-inline">movie's name</a>
              <p class="is-inline is-right-list">ranking</p>
          </li>
          <li>
              <a class="is-inline">movie's name</a>
              <p class="is-inline is-right-list">ranking</p>
          </li>
          <li>
              <a class="is-inline">movie's name</a>
              <p class="is-inline is-right-list">ranking</p>
          </li>
          <li>
              <a class="is-inline">movie's name</a>
              <p class="is-inline is-right-list">ranking</p>
          </li>
          <li>
              <a class="is-inline">movie's name</a>
              <p class="is-inline is-right-list">ranking</p>
          </li>
          <li>
              <a class="is-inline">movie's name</a>
              <p class="is-inline is-right-list">ranking</p>
          </li>
          <li>
              <a class="is-inline">movie's name</a>
              <p class="is-inline is-right-list">ranking</p>
          </li>
          <li>
              <a class="is-inline">movie's name</a>
              <p class="is-inline is-right-list">ranking</p>
          </li>
          <li>
              <a class="is-inline">movie's name</a>
              <p class="is-inline is-right-list">ranking</p>
          </li>
            
          </ul>
          
      </aside>

      <section class="session scrolling-wrapper">
        <div class="container">
            <h3 class="title has-text-centered is-size-4">New Movies This Week </h3>
              <div class="columns mt-5 is-8 is-multiline is-mobile">
              <div class="column is-4-tablet is-3-desktop">
                <div class="card">
                    <div class="card-image has-text-centered px-6">
                        <img src="https://resizing.flixster.com/j4yykgWR3yX7yCZ1QuFsOk37OW4=/180x257/v2/https://flxt.tmsimg.com/assets/p20492187_b_v8_ah.jpg" alt="">
                    </div>
                    <div class="card-content">
                        <p>Rating</p>
                        <p class="title is-size-5">Title of the movie</p>
                    </div>
                    <footer class="card-footer">
                        <p class="card-footer-item">
                            <a href="" class="has-text-grey">View</a>
                        </p>
                    </footer>
                </div>
            </div>

            <div class="column is-4-tablet is-3-desktop">
                <div class="card">
                    <div class="card-image has-text-centered px-6">
                        <img src="https://resizing.flixster.com/j4yykgWR3yX7yCZ1QuFsOk37OW4=/180x257/v2/https://flxt.tmsimg.com/assets/p20492187_b_v8_ah.jpg" alt="">
                    </div>
                    <div class="card-content">
                        <p>Rating</p>
                        <p class="title is-size-5">Title of the movie</p>
                    </div>
                    <footer class="card-footer">
                        <p class="card-footer-item">
                            <a href="" class="has-text-grey">View</a>
                        </p>
                    </footer>
                </div>
            </div>

            <div class="column is-4-tablet is-3-desktop">
                <div class="card">
                    <div class="card-image has-text-centered px-6">
                        <img src="https://resizing.flixster.com/j4yykgWR3yX7yCZ1QuFsOk37OW4=/180x257/v2/https://flxt.tmsimg.com/assets/p20492187_b_v8_ah.jpg" alt="">
                    </div>
                    <div class="card-content">
                        <p>Rating</p>
                        <p class="title is-size-5">Title of the movie</p>
                    </div>
                    <footer class="card-footer">
                        <p class="card-footer-item">
                            <a href="" class="has-text-grey">View</a>
                        </p>
                    </footer>
                </div>
            </div>

            <div class="column is-4-tablet is-3-desktop">
                <div class="card">
                    <div class="card-image has-text-centered px-6">
                        <img src="https://resizing.flixster.com/j4yykgWR3yX7yCZ1QuFsOk37OW4=/180x257/v2/https://flxt.tmsimg.com/assets/p20492187_b_v8_ah.jpg" alt="">
                    </div>
                    <div class="card-content">
                        <p>Rating</p>
                        <p class="title is-size-5">Title of the movie</p>
                    </div>
                    <footer class="card-footer">
                        <p class="card-footer-item">
                            <a href="" class="has-text-grey">View</a>
                        </p>
                    </footer>
                </div>
            </div>
