<h3 class="title has-text-centered is-size-4 signup-form">Sign Up </h3>

      <div class="card columns is-mobile signin">
        <div class="card-content column is-three-fifths is-offset-one-fifth ">
              <div class="field">
                <label class="label" for="username-signup">Username</label>
                <div class="control has-icons-left has-icons-right">
                  <input class="input" type="text" placeholder="Text input" id="signup_username">
                  <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                  </span>
                  <span class="icon is-small is-right">
                    <i class="fas fa-check"></i>
                  </span>
                </div>
                
              </div>

              <div class="field ">
                <label class="label" for="password-signup">Password</label>
                <p class="control has-icons-left">
                  <input class="input" type="password" placeholder="Password" id="signup_password">
                  <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                  </span>
                </p>
              </div>
              
              <div class="field">
                <label class="label" for="email-signup">Email</label>
                <div class="control has-icons-left has-icons-right">
                  <input class="input" type="email" placeholder="Email" id="signup_email">
                  <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                  </span>
                </div>
              </div>
              
             <div class="field is-grouped">
                <div class="control">
                  <button class="button is-link" id="signup_submit">Submit</button>
                </div>
              </div>          
        </div>
      </div>

      <script src="./js/signup.js"></script>