body {
    overflow: auto;
}
footer{
  position:static;
 }

body{
    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);}

.navbar{
    background: rgb(2,0,36);
background: linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(62,62,237,1) 67%, rgba(0,212,255,1) 100%);
box-shadow: 5px 1px 3px 3px rgb(142, 142, 245);
}

.brand {
    font-size: 30px;
    font-family: 'Silkscreen', cursive;
    color: white;
}

.log-in {
  width: 38rem;
  position: absolute;
  height: 330px;
  z-index: 15;
  top: 40%;
  left: 40%;
  margin: -100px 0 0 -150px;
  background-image: linear-gradient(to top, #8dbaee 0%, #e7f0fd 100%);
  box-shadow: 1px 3px 4px 4px rgb(52, 51, 86);
}

.email{
    margin-top: 20px;
}

.user-login{
    margin-top: 30px;
}

.bold{
    font-weight: bold;
}

.login-header{
    font-weight: 500;
    font-size: 20px;
}

.signin-button{
    background-color: #3f91ef;
    border-color: none;
}

