

 .header-bg {
    background-color: rgb(106, 40, 40);
    height: 100px;
}

.logo{
    color: rgba(255, 255, 255, 0.955);
    font-size: 40px;
    margin-top: 15px;
    margin-left: 13px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.option, .icon{
    color: white;
    font-size: 20px;
}

.menu{
    margin-top: 60px;
    margin-left: 20px;
    margin-right: 20px;
}

.menu-label{
    font-size: 25px;
    color: rgb(45, 38, 38);
}

.menu-list{
    font-size: 18px;
}

.menu-list li {
    margin-top: 20px;
}

.is-right-list{
   float: right;
}

.signin{
   margin-top: 40px;
}

.is-fullhd{
   background-color: grey;
   margin-top: 70px;
}

.copy{
   color: white;
}

